.title{
  font-size:50px;
  font-family:sans-serif;
  display:flex;
  justify-content: center;
}

.formTitle {
  font-size: 25px;
}

.formInput, .previous-links{
    margin-top: 80px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}